{% extends 'base.html.twig' %}

{% block title %}Maintenance index{% endblock %}

{% block body %}
    <h1>Maintenance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titel</th>
                <th>Beschrijving</th>
                <th>Tijdsduur</th>
                <th>Prijs</th>
                <th>Actie</th>
            </tr>
        </thead>
        <tbody>
        {% for maintenance in maintenances %}
            <tr>
                <td>{{ maintenance.id }}</td>
                <td>{{ maintenance.title }}</td>
                <td>{{ maintenance.discription }}</td>
                <td>{{ maintenance.duration }}</td>
                <td>{{ maintenance.price }}</td>
                <td>
                    <a href="{{ path('maintenance_show', {'id': maintenance.id}) }}">Bekijken</a>
                    -
                    <a href="{{ path('maintenance_edit', {'id': maintenance.id}) }}">Bijwerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">geen record gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('maintenance_new') }}">Nieuw toevoegen</a>
{% endblock %}
